<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>KSI - ECommerce</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/2c45b2e647.js" crossorigin="anonymous"></script>
</head>
<body>
    @RenderBody()
    <!--begin::Quick View-->
    <partial name="~/Pages/Shared/Partials/_Quick-view.cshtml" />
    <!--end::Quick View-->
    <!--begin::header-->
    <partial name="~/Pages/Shared/Partials/Header/_Header.cshtml" />
    <!--end::header-->
    <!--begin::mobile header-->
    <partial name="~/Pages/Shared/Partials/Header/_Mobile-header-base.cshtml" />
    <!--end::mobile header-->
    <!--begin::main-->
    <main class="main">
        <!--begin::home slider-->
        <partial name="~/Pages/Shared/Partials/Main/_Home-slider.cshtml" />
        <!--end::home slider-->
        <!--begin::banners-->
        <partial name="~/Pages/Shared/Partials/Main/_Banners.cshtml" />
        <!--end::banners-->
        <!--begin::product-section-->
        <partial name="~/Pages/Shared/Partials/Main/_Product-section.cshtml" />
        <!--end::product-section-->
        <!--begin::banner-2-->
        <partial name="~/Pages/Shared/Partials/Main/_Banner-2.cshtml" />
        <!--end::banner-2-->
        <!--begin::popular-categories-->
        <partial name="~/Pages/Shared/Partials/Main/_Popular-categories.cshtml" />
        <!--end::popular-categories-->
        <!--begin::deals-section-->
        <partial name="~/Pages/Shared/Partials/Main/_Deals-section.cshtml" />
        <!--end::deals-section-->
        <!--begin::new arrival-->
        <partial name="~/Pages/Shared/Partials/Main/_New-arrivals.cshtml" />
        <!--end::new arrival-->
        <!--begin::featured-brands-->
        <partial name="~/Pages/Shared/Partials/Main/_Featured-brands.cshtml" />
        <!--end::featured-brands-->
        <!--begin::monthly-best-sell-->
        <partial name="~/Pages/Shared/Partials/Main/_Monthly-best-sell.cshtml" />
        <!--end::monthly-best-sell-->
        <!--begin::from-blog-->
        <partial name="~/Pages/Shared/Partials/Main/_From-blog.cshtml" />
        <!--end::from blog-->
        <!--begin::today's-deal-->
        <partial name="~/Pages/Shared/Partials/Main/_Todays-deals.cshtml" />
        <!--end::today's-deal-->
        <!--begin::container-->
        <partial name="~/Pages/Shared/Partials/Main/_Container.cshtml" />
        <!--end::container-->
        <!--begin::featured-section-->
        <partial name="~/Pages/Shared/Partials/Main/_Featured-section.cshtml" />
        <!--end::featured-section-->
    </main>
    <!--end::main-->
    <!--begin::footer-->
    <partial name="~/Pages/Shared/Partials/_Footer.cshtml" />
    <!--end::footer-->
    <!--begin::preloader-->
    <partial name="~/Pages/Shared/Partials/_Preloader.cshtml" />
    <!--end::preloader-->
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/shop.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>